@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

html {
  background-image: url("https://blenderartists.org/uploads/default/original/4X/7/e/2/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpg")
}

.App {
  text-align: center;
}

.big-header {
  background-color: rgba(255, 255, 255, 0.301);
  color: rgb(229, 250, 253);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgb(26,24,52);
  background: linear-gradient(90deg, rgb(8, 8, 15) 0%, rgb(45, 9, 49) 41%, rgb(1, 31, 37) 95%);
  height: 5rem;
  justify-content: center;
  margin-bottom: 2em;
}

.big-header h1 {
  font-size: 3em;
}

button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color:#514690;
  font-family: 'Montserrat', sans-serif;
  }
  button:hover{
  color:#000000;
  background-color:#FFFFFF;
  }

.todo-item {
  color: white;
  border-radius: 25px;
  background: rgba(47, 47, 47, 0.849);
  padding: 20px;
  width: 200px;
  height: 150px;
  margin: 5px;
}

.item-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.form {
  color: white;
  border-radius: 25px;
  background: rgba(47, 47, 47, 0.849);
  padding: 20px;
  width: 200px;
  position: relative;
  margin: 15px auto;
}